:root {
  --orange: #ffbd33;
  --blue-sky: #1a78ac;
  --gutter: 30px;
  --gutter-mobile: 20px;
  --hover: #ff5733;
  --animation-time: 1.2s;
  --shadow-color: #0003;
  --shadow-fade: #00000030;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--blue-sky);
  font-size: 16px;
}

/* pages begin */

.page {
    height: 100vh;
}

/* video page */
.video-page .responsive-iframe {
    margin-bottom: var(--gutter);
}
@media only screen and (min-width: 768px) {
    .video-page .responsive-iframe {
        margin-bottom: 0;
    }
}

/* pages end */

.flex-container {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }
}

.responsive-iframe {
    height: 56vw;
    width: 100vw;
    max-width: 520px;
    max-height: 292px;
}
@media only screen and (min-width: 768px) {
    .responsive-iframe {
        height: 30.6vw;
    }
}

.youtube-embed {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
}

/* iframe */
.youtube-embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.button-wrapper {
    position: fixed;
    bottom: var(--gutter);
    right: var(--gutter);
    transition: all .6s;
}
.button-wrapper:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.next-page-button {
    --radius: 60px;
    width: var(--radius);
    height: var(--radius);
    border-radius: 50%;
    border-style: none;
    box-shadow: 0px 0px 2px 4px white;
    background: #402F0D;
    transition: all .6s;
}
.next-page-button.socials-active {
    transform: rotate3d(0, 0, 1, 180deg);
}
.next-page-button:focus {
    outline: 0;
}

.arrow-down {
    --border-width: 8px;
    --color: white;
    --dimensions: 30px;
    display: block;
    height: var(--dimensions);
    width: var(--dimensions);
    border-right: var(--border-width) solid var(--color);
    border-bottom: var(--border-width) solid var(--color);
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    top: 10px;
    left: 15px;

}

/* refactor down here below */

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1150px;
}
@media only screen and (min-width: 768px) {
  .app {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.social-list {
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  align-items: baseline;
}
@media only screen and (min-width: 768px) {
  .social-list {
    font-size: 2.4em;
  }
}

.social {
  margin: 10px 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  margin-right: var(--gutter-mobile);
}
@media only screen and (min-width: 768px) {
  .icon-wrapper {
    margin-right: var(--gutter);
  }
}

/* icon */

@media only screen and (min-width: 768px) {
  .icon {
    --icon-size: 16px;
    margin: 0 var(--icon-size) var(--icon-size) 0 !important;
    transform: scale(2) !important;
  }
}

.link {
  display: inline-block;
  transition: all .2s ease-in-out;
}

.link, .link:visited, .link:active {
  color: var(--orange);
  text-decoration: none;
}

.link:hover {
  --expand: 1.1;
  color: var(--hover);
  transform: scale3d(var(--expand), var(--expand), 1);
  text-decoration: none;
}

/* SVG - Logo */

.logo-wrapper {
  position: relative;
}

/* logo shadow */
.logo-wrapper::before {
  content: "";
  height: 20px;
  width: 100%;
  box-shadow: 0px 0px 8px 10px var(--shadow-color);
  position: absolute;
  bottom: -4px;
  border-radius: 50%;
  background-color: var(--shadow-color);
  transform: scale3d(.6, .8, 1);
  animation: shrinkShadow var(--animation-time) infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#Logo {
  animation: upAndDown var(--animation-time) infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #Logo {
    height: 350px;
    margin-bottom: 0;
    width: 350px;
  }
}

#Pikes {
  animation: scaleInAndOut var(--animation-time) infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: center;
}

#Pikes, #Circle {
  fill: var(--orange);
}

#Mustache, #MonocleBody {
  fill: #000;
}

#MonocleInner {
  fill: #aaa9d3;
}

/* animations */

@keyframes upAndDown {
  100% { transform: translate3d(0, -10px, 0) }
}

@keyframes scaleInAndOut {
  100% { transform: scale3d(1.1, 1.1, 1) }
}

@keyframes shrinkShadow {
  100% {
    transform: scale3d(.5, .8, .1);
    background-color: var(--shadow-fade);
    box-shadow: 0px 0px 11px 10px var(--shadow-fade);
  }
}
